<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../public/assets/style.css"/>
        <title>Feed Me Burgers</title>
    </head>
<body>
    {{!-- main.handelbars file REQUIRES 3 curly braces! --}}
    {{{ body }}}
</body>
</html>